* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive, Helvetica, sans-serif;
    color: rgb(152, 25, 100);
    font-weight: bold;
    text-align: center;
}

body {
     animation: slider 20s infinite;
     background-size: 100%;
     
}


.container {
      display: grid;
      grid-template-columns: 1fr;
      background-color: transparent;
      
      
}
.box{
     margin: 20px;
     padding: 10px;
     border-radius: 30px;
      margin: 10px;
      box-shadow: 20px 20px 40px black;
      
  
}
@keyframes slider{
  0%{
    background-image: url(1.jpg);
  }
  10% {
    background-image: url(2.jpg);
  }
  30%{
    background-image: url(3.jpg);
  }
  50% {
    background-image: url(4.jpg);
  }
  70% {
    background-image: url(5.jpg);
  }
  90% {
    background-image: url(6.jpg);
  }
  100% {
    background-image: url(7.jpg);
  }
}
.text{
  font-size: 1.5em;
  position: center;
  text-align: center;
  animation: colorChange 6s infinite;
}

p{
  font-size: 1.28em;
  animation: colorChange 6s infinite linear;
  text-align: justify
}

.box{
    animation: anima_scroll linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
img{
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 30px;
  box-shadow: 2px 2px 30px;
}
@keyframes colorChange{
  0% {
    color: whitesmoke;
  }
  25% {
    color: slateblue;
  }
  50% {
    color: skyblue;
  }
  75% {
    color: powderblue;
  }
  100% {
    color: transparent;
  }
}

@keyframes anima_scroll {
    0%{
        opacity: 0;
        transform: translate(-150px);
}
    100%{
        opacity: 1;
        transform: translate(0px);
}
}
video {
    height: 300px;
    width: 300px;
    box-shadow: -10px 10px 20px;
}
.poem{
  margin: 20px;
  padding: 10px;
  background: linear-gradient(to right, red, black);
  animation: anima 5s infinite linear alternate;
  border-radius: 5px;
  box-shadow: 10px 20px 20px;
  border-radius: 20px;
}
.text1{
  font-family: cursive;
  border-right: 1px solid;
  white-space: nowrap;
  width: 12ch;
  overflow: hidden;
  animation: animaTexto steps(12) 4s infinite, animaMarcador 0,5s linear infinite, colorChange1 6s infinite;
  text-align: justify;
  position: relative;
  
}
@keyframes animaMarcador{
  50%{
    border-right: transparent;
  }
}
@keyframes animaTexto{
  0% {
    width: 0;
  }
}
@keyframes colorChange1{
  0% {
    color: whitesmoke;
  }
  25% {
    color: lightgray;
  }
  50% {
    color: gray;
  }
  75% {
    color: white;
  }
  100% {
    color: transparent;
  }
}
.text2{
  font-family: cursive;
  border-right: 1px solid;
  white-space: nowrap;
  width: 17ch;
  overflow: hidden;
  animation: animaTexto steps(17) 4s infinite, animaMarcador 0,5s linear infinite, colorChange1 6s infinite;
}